<!DOCTYPE html>
<html>
<head>
	<script src="https://use.fontawesome.com/5b22095e38.js"></script>
	<title>Details about Devon</title>
	<link rel="stylesheet" href="devhow_TKH.css">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans|Varela+Round" rel="stylesheet">
</head>
<body>
	<header>
		<h1>TKH Application</h1>
	</header>

	<div id='intro'>
		<img src="img/me.jpg">
		<h1>Devon Howell</h1>
		<h2>Student, Programmer</h2>
	</div>


	<div id='child'>
		<a href="http://moonlight.movie/" target="_blank">
			<h3>Who is you, Devon?</h3>
		</a>
		<p>My name is Devon Howell and I'm from the Bronx, like Grandmaster Flash, JLo, Majora Carter and them. I'm an aspiring computational linguist studying Linguistics with a concentration in Computer Science (go figure) at Columbia University. If you catch me in my free time, you'll see me being a nerd, whilst reading about institutionalized oppression, watching Steven Universe or screeching some 90s RnB ballad.</p>
	</div>

	<div id='teenager'>
		<a href="https://www.amazon.com/Why-Me-This-Now/dp/0517165511" target="_blank">
			<h3>Why Me? Why This? Why Now?</h3>
		</a>
		<p>I should be accepted to the Advanced Javascript class because I have the skills and the attitude that will allow me to learn and to encourage other students to learn. Though I've had limited experience with web programming, my Java experience has acquainted me with elements of the design process like wireframing, control flow, and debugging. Further, having been both a programming student and teacher, I understand how frustrating coding can be, especially when errors arise. However, I've learned how to rely on my peers to help me think through a problem or detach from it enough to get a clear mind.</p>
	</div>

	<div id='adult'>
		<a href="https://soundcloud.com/aliciakeys/thats-whats-up" target="_blank">
			<h3>That's What's Up!</h3>
		</a>
		<p>I spend a lot of my free time reading. Here are 3 of my favorite works. Support Black art! Support Black authors!</p>
		<table border="1">
			<tr>
				<th></th>
				<th>Author</th>
				<th>Title</th>
			</tr>
			<tr>
				<td><img src="img/torn_and_new.jpeg"></td>
				<td>Ngūgī wa Thiong'o</td>
				<td>Something Torn and New</td>
			</tr>
			<tr>
				<td><img src="img/caged_bird.jpg"></td>
				<td>Maya Angelou</td>
				<td>I Know Why the Caged Bird Sings</td>
			</tr>
			<tr>
				<td><img src="img/song_of_solomon.jpg"></td>
				<td>Toni Morrison</td>
				<td>Song of Solomon</td>
			</tr>
		</table>
	</div>

	<footer>
		Find me on 
		<a href="https://github.com/2dev9" target="_blank">
			<i class="fa fa-github fa-3x" ></i>  Github
		</a>
		<a href="https://www.linkedin.com/in/devon-howell-800114a0/" target="_blank">
			<i class="fa fa-linkedin-square fa-3x"></i> LinkedIn
		</a>
		<a href="https://www.facebook.com/howell.devon" target="_blank">
			<i class="fa fa-facebook fa-3x"></i> Facebook
		</a>
		<a href="https://twitter.com/BajanLinguist" target="_blank">
			<i class="fa fa-twitter fa-3x"></i> Twitter
		</a>
	</footer>

</body>
</html>