<!DOCTYPE html>
<html>
<head>
	<script src="https://use.fontawesome.com/5b22095e38.js"></script>
	<title>Details about Devon</title>
	<link rel="stylesheet" href="../static/css/dah2184.css">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans|Varela+Round" rel="stylesheet">
</head>
<body>
	<header>
		<h1>ADI Labs Application</h1>
	</header>

	<div id='intro'>
		<img src="../static/img/me.jpg">
		<h1>Devon Howell</h1>
		<h2>Student, Programmer</h2>
	</div>


	<div id='child'>
		<a href="http://moonlight.movie/" target="_blank">
			<h3>Who Am I?</h3>
		</a>
		<p>*Cardi B voice* <br> My name is Devon Howell and I'm from the Bronx. <br><br>  But seriously, I'm an aspiring computational linguist studying Computer Science at Columbia University. I hoping to get more exposure to startup-like environments through ADI Labs. I'm amiable and team-oriented but if you don't like orange, we may not get along.</p>
	</div>

	<div id='adult'>
		<a href="https://soundcloud.com/aliciakeys/thats-whats-up" target="_blank">
			<h3>That's What's Up!</h3>
		</a>
		<p>I spend a lot of my free time reading. Book covers and comic book prints are some of my favorite images.</p>
		<table border="0">
			<tr>
				<td><img src="../static/img/isnana.jpg"> <br> Is'nana The Were Spider</td>
				<td><img src="../static/img/kindred.jpg"> <br> Kindred</td>
				<td><img src="../static/img/sorghum_spear.jpg_256"><br> Sorghum and Spear</td>
			</tr>
			<tr>

				<td><img src="../static/img/kindred.jpg"> <br> Kindred</td>
				<td><img src="../static/img/sorghum_spear.jpg_256"><br> Sorghum and Spear</td>
				<td><img src="../static/img/isnana.jpg"> <br> Is'nana The Were Spider </td>
			</tr>
			<tr>
				<td><img src="../static/img/sorghum_spear.jpg_256"><br> Sorghum and Spear</td>
				<td><img src="../static/img/isnana.jpg"> <br> Is'nana The Were Spider </td>
				<td><img src="../static/img/kindred.jpg"> <br> Kindred</td>
			</tr>
		</table>
	</div>

	<footer>
		<a href="https://github.com/2dev9" target="_blank">
			<i class="fa fa-github fa-3x" ></i> 
		</a>
		<a href="https://www.linkedin.com/in/devon-howell-800114a0/" target="_blank">
			<i class="fa fa-linkedin-square fa-3x"></i> 
		</a>
		<a href="https://www.facebook.com/howell.devon" target="_blank">
			<i class="fa fa-facebook fa-3x"></i>
		</a>
		<a href="https://twitter.com/TheDevonGoods" target="_blank">
			<i class="fa fa-twitter fa-3x"></i>
		</a>
	</footer>

</body>
</html>