<!DOCTYPE html>
<html>
<head>
	<script src="https://use.fontawesome.com/5b22095e38.js"></script>
	<title>Details about Devon</title>
	<link rel="stylesheet" href="../static/css/dah2184.css">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans|Varela+Round" rel="stylesheet">
</head>
<body>
	<header>
		<h1>ADI Labs Application</h1>
	</header>

	<div id='intro'>
		<img src="../static/img/me.jpg">
		<h1>Devon Howell</h1>
		<h2>Student, Programmer</h2>
	</div>


	<div id='child'>
		<a href="http://moonlight.movie/" target="_blank">
			<h3>Who is you, Devon?</h3>
		</a>
		<p>My name is Devon Howell and I'm from the Bronx, like Grandmaster Flash, JLo, Majora Carter and them. I'm an aspiring computational linguist studying Linguistics with a concentration in Computer Science (go figure) at Columbia University.</p>
	</div>

	<div id='teenager'>
		<a href="https://www.amazon.com/Why-Me-This-Now/dp/0517165511" target="_blank">
			<h3>Why Me? Why This? Why Now?</h3>
		</a>
		<p></p>
	</div>

	<div id='adult'>
		<a href="https://soundcloud.com/aliciakeys/thats-whats-up" target="_blank">
			<h3>That's What's Up!</h3>
		</a>
		<p>I spend a lot of my free time reading. Book cover and comic book prints are some of my favorite images</p>
		<table border="0">
			<tr>
				<td><img src="../static/img/isnana.jpg"> <br> Is'nana The Were Spider</td>
				<td><img src="../static/img/kindred.jpg"> <br> Kindred</td>
				<td><img src="../static/img/sorghum_spear.jpg_256"><br> Sorghum and Spear</td>
			</tr>
			<tr>

				<td><img src="../static/img/kindred.jpg"> <br> Kindred</td>
				<td><img src="../static/img/sorghum_spear.jpg_256"><br> Sorghum and Spear</td>
				<td><img src="../static/img/isnana.jpg"> <br> Is'nana The Were Spider </td>
			</tr>
			<tr>
				<td><img src="../static/img/sorghum_spear.jpg_256"><br> Sorghum and Spear</td>
				<td><img src="../static/img/isnana.jpg"> <br> Is'nana The Were Spider </td>
				<td><img src="../static/img/kindred.jpg"> <br> Kindred</td>
			</tr>
		</table>
	</div>

	<footer>
		Find me on 
		<a href="https://github.com/2dev9" target="_blank">
			<i class="fa fa-github fa-3x" ></i>  Github
		</a>
		<a href="https://www.linkedin.com/in/devon-howell-800114a0/" target="_blank">
			<i class="fa fa-linkedin-square fa-3x"></i> LinkedIn
		</a>
		<a href="https://www.facebook.com/howell.devon" target="_blank">
			<i class="fa fa-facebook fa-3x"></i> Facebook
		</a>
		<a href="https://twitter.com/TheDevonGoods" target="_blank">
			<i class="fa fa-twitter fa-3x"></i> Twitter
		</a>
	</footer>

</body>
</html>